body{
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body.light {
  background: radial-gradient(var(--secondary-color-1), var(--secondary-color-2));
}
.container {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 50px;
  color: var(--secondary-color-1);
  border-radius: 2em;
  position: relative;
  overflow: hidden;
}

body.light .focus-title, body.light .until-long {
  color: black;
}

.focus-title {
  font-size: 50px;
  margin-block: .2em;
}

.timer-tag {
  width: 80vh;
  aspect-ratio: 2/1;
  border-radius: 1em;
  background-size: 5% 10%;
  border: 3px solid black;
  box-shadow:inset 0 0 5px black;
}
body.light .timer-tag.simple {
  border: 1px solid black;
  background: linear-gradient(45deg, var(--secondary-color-2), var(--secondary-color-2), var(--primary-color));
  box-shadow: inset -5px 5px 70px var(--secondary-color-2), inset 5px -5px 70px var(--primary-color), 2px 2px 0 5px black; 
}
.timer-tag.simple{
  border: none;
  box-shadow: 0 0 20px var(--primary-color);
}
.timer-tag.cat-walk .timer{
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  border: 1px solid black;
  backdrop-filter: blur(5px);
}
.timer{
  font-weight: bolder;
  font-family: "Share Tech Mono", monospace;
  font-size: 100px;
  font-variant-numeric: tabular-nums;
}

.tab-btns {
  bottom: 0px;
}

.changingTimer:has(.simple) {
  animation: none;
}

.bottom {
  display: flex;
  width: 80vh;
}
.btns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.focus-btn-text{
  white-space: nowrap;
}
.quote-container {
  width: 90%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(var(--secondary-color-2), var(--primary-color));
  box-shadow: inset 5px 5px 30px var(--primary-color);
}
.light .quote-container{
  box-shadow: 2px 2px 0 5px black;
  background: radial-gradient(var(--secondary-color-1), var(--secondary-color-2));
}
.quote {
  color: black;
}

.focus-btn, .focus-btns-int button {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color-2));
  box-shadow:inset -3px 3px 10px var(--primary-color),inset 5px -5px 20px var(--primary-color);
}

.break-suggestions-container {
  position: absolute;
  right:-100%;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  transition: .15s all;
}
.break-suggestions-container.show {
  right: 10px;
}
.break-suggestion h2 {
  font-size: 13px;
}
.break-suggestion p {
  font-size: 10px;
  padding-left: 20px;
  position: relative;
}
.light .break-suggestion p {
  color: black;
}
.break-suggestion p:after {
  position: absolute;
  content: '';
  left:0;
  top:0;
  width: 10px;
  height: 100%;
  background-color: var(--secondary-color-2);
  opacity: .15;
  border-radius: 5px;
}
.light .break-suggestion p:after {
  background-color: var(--primary-color-4);
  opacity: .3;
}
.break-suggestion p a {
  color: var(--secondary-color-2);
  font-weight: 700;
}
.light .break-suggestion p a {
  color: var(--primary-color);
}
.break-suggestion p a:hover {
  color: white;
}
.light .break-suggestion p a:hover {
  color: var(--primary-color-4);
  text-decoration: dotted;
}
#music-player {
  width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#music-player.show {
  display: flex;
}
.light #music-player {
  background: var(--secondary-color-2);
  box-shadow: inset 0 0 0 1px var(--primary-color);
}

#music-player:before {
  content: 'Now Playing...';
  font-size: 7px;
  margin-bottom: 5px;
  position: absolute;
  top:5px;
  left:50%;
  transform: translateX(-50%);
  color: var(--secondary-color-2);
}
.light #music-player:before {
  color: var(--primary-color);
}

#music-player .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: .5em;
}

#player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#music-player button {
  height: 50px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  border: none;
  font-size: .8em;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 2px 7px;
  font-family: "Poppins", sans-serif;
}
.light #music-player button {
  background: none;
}

#music-player button#prev, #music-player button#next{
  width: 36px;
  height: 36px;
}
#music-player button#prev img {
  transform: rotate(180deg);
}
#music-player button img{
  width: 100%;
  height: 100%;
}
#music-player button#play-pause.play {
  background: url('../../assets/icons/play.png'), #c8a0ff;
  background-size: cover;
  width: 36px;
  height: 36px;
}
#music-player button#play-pause.pause {
  background: url('../../assets/icons/pause.png'), #b27fff;
  background-size: cover;
  width: 36px;
  height: 36px;
}

#music-player button:hover {
  opacity: .7;
}
#music-player select {
  height: 36px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  color: var(--primary-color);
  font-size: .8em;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  padding: 2px 3px;
  font-family: "Poppins", sans-serif;
}
.light #music-player select {
  background: black;
  color: var(--secondary-color-1);
}

#music-player label {
  color: var(--primary-color);
  font-size: .8em;
}
.light #music-player label {
  color: var(--primary-color);
}

#music-player p {
  font-size: 10px;
  margin-bottom: 0;
  text-align: center;
}
.light #music-player p {
  color: black;
}