.container {
  margin: 0;
  min-width: 270px;
  color: var(--secondary-color-1);
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image:  radial-gradient(var(--primary-color) .5px, transparent .5px), radial-gradient(var(--primary-color) .5px, #000 .5px);
  background-size: 20px 20px;
  background-position: 0 0,30px 30px;
}
.container.light {
  background-image:  radial-gradient(#000 .5px, transparent .5px), radial-gradient(#000 .5px, var(--secondary-color-1) .5px);
  /* background-color: var(--secondary-color-1); */
  color: #000;
}

.metrics-container{
  margin: 50px;
  padding: 30px 50px;
  border: 2px dashed var(--secondary-color-1);
  width: max-content;
  border-radius: 10px;
  font-size: 16px;
  background-color: #000;
  position:relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.container.light .metrics-container {
  background-color: var(--secondary-color-1);
  border: 2px dashed black;
}
.data-btns {
  position: absolute;
  top:5px;
  right:5px;
  border: none;
}
.sample-history-btn, 
.sample-history-btn-remove,
.delete-btn, 
.footer-btns button {
  border-radius: 5px;
  font-size: 10px;
  font-weight: 400;
  padding: 3px 5px;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color-1);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  transition: .15s all;
  box-shadow: inset 5px 10px 70px var(--primary-color), inset -5px 5px 90px var(--secondary-color-1)
              ,  -5px 5px 100px var(--primary-color), 0 2px 0 var(--primary-color);
}
.sample-history-btn:hover, 
.sample-history-btn-remove:hover,
.delete-btn:hover,
.footer-btns button:hover {
  box-shadow: 0 0 0 var(--primary-color);
}
.container.light .sample-history-btn:hover {
  color: black;
}
.sample-history-btn {
  display: none;
  background-color: transparent;
  color: var(--secondary-color-1);
}
.sample-history-btn-remove{
  display: none;
}
.container.light .sample-history-btn-remove {
  color: var(--secondary-color-1);
}
.sample-history-btn.active, 
.sample-history-btn-remove.active {
  display: inline-block;
}
.sample-history-btn-remove.active {
  font-weight: 700;
  font-size: 15px;
}


p{
  margin-block: 3px;  
}
.simple-metrics-container{
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.simple-metrics{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container.light .count{
  color: var(--primary-color);
}
.simple-metrics > .count{
  font-family: "Share Tech Mono", monospace;
  font-size: 20px;
}
.simple-metrics-title{
  font-size: 15px;
}

.sub-metrics-container{
  margin-top: 50px;
}
.graphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row {
  display: flex;
  gap: 20px;
}
.graph-container{
  border: 2px solid var(--primary-color);
  box-shadow: 5px 5px 0 0 var(--primary-color);
  border-radius: 5px;
  --week-bars: 7;
  --month-bars: 30;
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  position: relative;
  margin-top: 30px;
  padding-bottom: 30px;
}
.is-sample{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 15px;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--primary-color);
  box-shadow: inset 5px 10px 60px var(--secondary-color-1), inset -5px 5px 70px var(--primary-color);
  letter-spacing: 1px;
}
.container.light .is-sample{
  color: #000;
  box-shadow: inset 5px 10px 60px var(--secondary-color-1), inset -5px 5px 70px var(--primary-color-4), 0 0 10px var(--primary-color-2);
}
.is-sample.active {
  display: inline-block;
  box-shadow: inset 5px 10px 60px var(--secondary-color-1), inset -5px 5px 70px var(--primary-color);
}
.no-data {
  pointer-events: none;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) skew(60deg);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  white-space: nowrap;
  transition: .2s all cubic-bezier(0.175, 0.885, 0.32, 2) .2s;
  opacity: 0;
  user-select: none;
  background-color: none;
  color: var(--secondary-color-2);
  border: none;
  border-bottom: 2px solid var(--secondary-color-2);
  border-radius: 0;
  text-shadow: 0 0 20px var(--primary-color);
  padding: 20px 40px;
  z-index: 1;
  overflow: hidden;
}
.no-data::after, .no-data::before {
  position: absolute;
  content: '';
  right: 10px;
  bottom: 0;
  width: 20px;
  height: 60px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  box-shadow: inset 0 0 30px var(--primary-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: -1;
  transition: .15s all;
}
.no-data::before{
  bottom: -40px;
  right: 40px;
}
.container.light .no-data::after,.container.light .no-data::before {
  box-shadow: inset 0 0 10px var(--primary-color), inset -10px 10px 25px var(--primary-color);
}
.no-data:hover::before {
  bottom: 0px;
}
.no-data:hover::after {
  bottom: -30px;
}
.container.light .no-data {
  border-radius: 10px;
  border-bottom: none;
  background-color: var(--secondary-color-2);
  color: var(--primary-color);
  box-shadow: inset 5px 10px 70px var(--secondary-color-1), inset -5px 5px 90px var(--primary-color)
              ,  -5px 5px 100px var(--primary-color), 0 2px 0 var(--primary-color);
}
.no-data:not(.active)::before, .no-data:not(.active)::after {
  height: 0;
}
.no-data.active {
  opacity: 1;
  transform: translate(-50%, -50%) skew(0deg);
}
.y-axis {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: calc(50vh - 10px);
  right: calc(100% + 5px);
  bottom: 0;
  pointer-events: none;
}
.bars-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  height: 100%;
  position: relative;
}
.bar {
  --bar-height: 0;
  height: var(--bar-height);
  border-radius: 5px;
  background: linear-gradient(45deg, var(--primary-color-2), var(--primary-color-3));
  /* border: 2px solid var(--primary-color-2); */
  position: relative;
  transition: 1s height cubic-bezier(.56,0.36,0.3,1.26), .2s box-shadow cubic-bezier(.56,0.36,0.3,1.26);
  box-sizing: border-box;
}
.week-bar {
  width: calc(20vw / var(--week-bars));
}
.month-bar {
  width: calc(20vw / var(--month-bars));
  font-weight: 500;
  font-size: 12px;
}
.container.light .bar {
  background: linear-gradient(45deg, var(--primary-color-4), var(--primary-color-3));
  box-shadow: inset 20px 20px 50px var(--primary-color-2), 0 0 0 var(--primary-color-4);
  border: none;
}
.bar::after{
  position:absolute;
  content: attr(data-x);
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 400;
}
.bar:hover::after {
  font-weight: bolder;
  bottom: -27px;
}

.bar::before{
  z-index: 1;
  position: absolute;
  content: attr(data-value);
  padding-inline: 3px;
  background-color: transparent;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 12px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  pointer-events: none;
  opacity: 0;
  transition: .25s all;
}
.container.light .bar::before{
  background-color: var(--secondary-color-2);
  box-shadow: 0 0 10px var(--primary-color-2);
  color: black;
}
.bar:hover::before{
  top: -25px;
  opacity: 1;
}
.bar:hover {
  border: 2px solid var(--secondary-color-2);
}

.container.light .bar:hover {
  box-shadow: inset 20px 20px 20px var(--primary-color-2), 0 -1px 0 1px #000;
}

.calendar-metrics-container {
  width: 100%;
}
.month-metrics-container {
  width: 100%;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  width: 100%;
  padding-block: 10px;
}
.calendar-graph-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.month-calendar-week-label-container {
  font-size: 12px;
  font-weight: 500;
}

.month-calendar-week-label-container > div {
  margin-bottom: 5px;
}

.month-calendar-graph {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.calendar-month-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-month-container > div{
  display: flex;
  gap: 3px;
  border-radius: 5px;
  padding: 5px;
}

.calendar-col {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.first-calendar-col {
  justify-content: end;
}

.calendar-box {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff1f;
  border-radius: 2px;
  font-size: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.container.light .calendar-box {
  background-color: #00000009;
}

.calendar-box::after {
  pointer-events: none;
  opacity: 0;
  transform: scale(0);
  position: absolute;
  top: -10px;
  content: attr(data-value);
  transition: .25s all;
  background-color: var(--secondary-color-1);
  color: var(--primary-color);
  padding: 5px 7px;
  font-size: 10px;
  font-weight: 500;
  white-space: nowrap;
  z-index: 10;
  border-radius: 5px;
}
.container.light .calendar-box::after {
  background-color: var(--primary-color);
  color: var(--secondary-color-1);
}
.calendar-box:hover {
  border: 1px solid var(--secondary-color-1);
}
.container.light .calendar-box:hover {
  border: 1px solid black;
}
.calendar-box:hover::after{
  opacity: 1;
  transform: scale(1);
  top: -30px;
}
.container.light .calendar-box:hover::after{
  background-color: var(--primary-color-4);
  color: var(--primary-color);
}

.calendar-legend {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.legend-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

footer {
  margin-top: 50px;
  font-size: 15px;
  font-weight: 200;
}

.footer-btns {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: max-content;
  margin-bottom: 20px;
}

.footer-btns button {
  font-size: 14px;
}
.container.light .footer-btns button:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.feedback-line {
  max-width: max-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  gap:1px;
  margin-left: 25px;
}
.feedback-line p{
  margin:0;
}

.feedback-line a{
  margin-left: 2px;
  font-weight: 500;
  color: var(--primary-color-3);
}
.container.light .feedback-line a {
  color: black;
}
.feedback-line a:hover {
  opacity: .7;
}

.top-row {
  padding: .7em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-row .title {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: .5em;
  text-decoration: underline;
}
.top-row .delete-some-btn {
  border-radius: 5px;
  font-size: 12px;
  font-weight: light;
  padding: 3px 5px;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color-3);
  color: var(--secondary-color-1);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  transition: .15s all;
  box-shadow: inset 5px 10px 70px var(--primary-color), inset -5px 5px 90px var(--secondary-color-1)
  ,  -5px 5px 100px var(--primary-color), 0 2px 0 var(--primary-color);
  transform: translate(0,-2px);
}
.top-row .delete-some-btn:hover:not(:disabled) {
  box-shadow: inset 5px 10px 70px var(--primary-color), inset -5px 5px 90px var(--secondary-color-1)
  ,  -5px 5px 100px var(--primary-color), 0 2px 5px var(--primary-color);
}
.top-row .delete-some-btn:active:not(:disabled) {
  transform: translate(0,0px);
  box-shadow: inset 5px 10px 70px var(--primary-color), inset -5px 5px 90px var(--secondary-color-1)
              ,  -5px 5px 100px var(--primary-color);
}
.top-row .delete-some-btn:disabled {
  background-color: var(--primary-color-1);
  opacity: 50%;
  cursor: not-allowed;
}
#delete-date {
  font-weight: bold;
}

.delete-some-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: .5em;
  padding: .5em;
  border: 2px dashed var(--primary-color-3);
  border-radius: 10px;
  padding-bottom: 30px;
}
.delete-some-container::after {
  position: absolute;
  content: '🎈 -> break | ⏳ -> focus';
  bottom: 5px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 5px;
  padding: 5px;
  font-size: .7em;
  font-weight: 500;
}
.container.light .delete-some-container::after {
  background-color: var(--primary-color-1);
}
.delete-some-container.disable {
  display: none;
}

.sessions-table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  text-align: left;
}


.sessions-table th {
  border: 1px solid var(--primary-color-2);
  text-align: left;
  padding-left: 10px;
}
.sessions-table td {
  border: 1px solid var(--primary-color);
  padding: 4px;
  padding-left: 10px;
  text-align: left;
  font-weight: 500;
}
.light .sessions-table th {
  border: 1px solid var(--primary-color);
}

.sessions-table th {
  background-color: var(--primary-color-1); /* Optional: Makes the header row stand out */
  font-weight: bold;
}
.specific-sessions-container {
  width: 100%;
  
  margin: 10px;
  padding: 5px 30px;
}
.specific-sessions-container .session {
  user-select: none;
  cursor: pointer;
  display: flex;
  font-weight: bold;
}
.specific-sessions-container .session .session-end {
  position: relative;
  margin-left: 20px;
}
.specific-sessions-container .session .session-end::before {
  position: absolute;
  content: 'to';
  font-size: .7em;
  left: -15px;
  bottom: .2em;
}
.specific-sessions-container .session .session-type {
  margin-left: 7px;
  font-weight: 400;
  font-size: .9em;
}

footer {
  margin-top: 1.5em;
  max-width: 50vw;
}
.buy-me-a-coffee-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;
  margin: 10px;
}
.buy-me-a-coffee-container .action-words{
  max-width: 70%;
}
.buy-me-a-coffee-container .action-words p {
  padding:0;
  margin:0;
  margin-block: 5px;
  border-left: 5px solid rgba(255,255,255,.09);
  padding-left: 10px;
}
.light .buy-me-a-coffee-container .action-words p {
  border-left: 5px solid var(--primary-color-1);
}
.buy-me-a-coffee-container .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap:0;
}
.buy-me-a-coffee-container .actions .qr-code-container {
  width: 150px;
  height: 150px;
}
.buy-me-a-coffee-container .actions p {
  font-size: .7em;
  font-weight: bold;
  margin:0;
}
.buy-me-a-coffee-container .actions .qr-code-img {
  width: 100%;
  height: 100%;
  bottom:0;
  left:0;
  border: 1px solid black;
  border-radius: .5em;
}
.buy-me-a-coffee-container a {
  border: 1px solid black;
  height: unset;
  min-width: unset;
  width: 100%;
  font-size: 1em;
  padding: .1em auto;
  border-radius: .5em;
}
.buy-me-a-coffee-container a:hover {
 text-decoration: underline !important;
}

@keyframes skeleton-animation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.made-by {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: .7em;
  font-weight: 500;
  color: var(--primary-color-1);
  padding: 0;
  border-radius: 5px;
  background-color: var(--primary-color-4);
  box-shadow: 0 0 10px var(--primary-color-2);
  background: linear-gradient(45deg, var(--primary-color-4) 25%, var(--primary-color-3) 50%, var(--primary-color-4) 75%);
  background-size: 200px 100%;
  animation: skeleton-animation 2.5s infinite linear;
  cursor: pointer;
}

.light .made-by {
  color: var(--primary-color);
  background-color: var(--primary-color-1);
  background: linear-gradient(45deg, var(--primary-color-2) 25%, var(--primary-color-1) 50%, var(--primary-color-2) 75%);
  border: 2px solid var(--primary-color-4);
  background-size: 200px 100%;
  animation: skeleton-animation 2.5s infinite linear;
}

.made-by a {
  text-decoration: none;
  padding: 5px;
}
.made-by a:active{
  color: var(--primary-color);
}
.made-by:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px var(--primary-color-4);
}