.container {
  margin: 0;
  min-width: 270px;
  color: var(--secondary-color-1);
  position: relative;
  /* overflow: hidden; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-image:  radial-gradient(var(--primary-color) .5px, transparent .5px), radial-gradient(var(--primary-color) .5px, #000 .5px);
  background-size: 20px 20px;
  background-position: 0 0,30px 30px;
}
.container.light {
  background-image:  radial-gradient(#000 .5px, transparent .5px), radial-gradient(#000 .5px, var(--secondary-color-1) .5px);
  /* background-color: var(--secondary-color-1); */
  color: #000;
}


#settings-form{
  padding: 10px 20px;
  border: 2px dashed var(--secondary-color-1);
  width: max-content;
  border-radius: 10px;
  font-size: 12px;
  position:relative;
  z-index: 1;
  /* overflow: hidden; */
}
.row{
  display: flex;
  gap: 40px;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.container.light #settings-form {
  background-color: var(--secondary-color-1);
}
#settings-form::before{
  content: '';
  position: absolute;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: -10%;
  right: 0;
  filter: blur(200px);
  z-index: -1;
}
#settings-form::after{
  content: '';
  position: absolute;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  bottom: 10%;
  left: -20%;
  filter: blur(200px);
  z-index: -1;
}
#settings-form h2 {
  font-size: 20px;
}
#settings-form select, #settings-form input {
  font-size: 12px;
}
label {
  cursor: pointer;
}
.container.light input, .container.light select {
  background-color: var(--secondary-color-1);
  border: 1px solid black;
}
.container.light #settings-form {
  border: 2px dashed black;
}
.notification {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.auto-start {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.indent {
  margin-left: 20px;
}

.duration {
  white-space: nowrap;
  margin-bottom: 10px;
}

#focus-duration-input,
#short-break-duration-input,
#long-break-duration-input {
  width: 40px;
}

#interval-input {
  margin-block: 5px 10px;
}

.btn-container {
  width: 100%;
  position: relative;
  margin-block: 10px;
}

.theme-cards-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.theme-card {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px 20px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  color: var(--secondary-color-1);
  user-select: none;
}
.theme-card.checked {
  box-shadow: 0px 0px 0 3px #fff;
}
.container.light .theme-card {
  border: 1px solid #000;


}
.container.light .theme-card.checked {
  box-shadow: 0px 0px 0 3px #000;
}

.theme-card:hover {
  text-decoration: underline;
}
.theme-card-light {
  color: #000;
  background: linear-gradient(60deg, var(--primary-color-2), var(--secondary-color-2));
}
.container.light .theme-card-light {
  background: linear-gradient(60deg, var(--primary-color-4), var(--secondary-color-2));
}
.theme-card-dark {
  color: var(--secondary-color-2);
  background: var(--primary-color);
}

.submit-btn + .alert {
  opacity: 0;
  transition: .5s all;
  pointer-events: none;
  user-select: none;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  font-size: 10px;
  color: var(--secondary-color-1);
}
.container.light .alert {
  color: var(--primary-color);
}
.submit-btn:not(:disabled) + .alert {
  opacity: 1;
}

.submit-btn {
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--secondary-color-2);
  border:none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: .15s all;
  padding: 10px;
  margin-top: 20px;
}
.submit-btn:hover {
  opacity: .9;
}
.submit-btn.saved {
  background-color: var(--primary-color);
  color: #000;
}
.submit-btn:disabled {
  box-shadow: inset 0 0 0px transparent;
  background-color: rgb(32, 32, 32);
  color: rgb(68, 68, 68);
}
.submit-btn:disabled:hover {
  border-radius: 5px;
  cursor: not-allowed;
}
.container.light .submit-btn {
  background-color: var(--secondary-color-1);
  border: 1px solid black;
}
.container.light .submit-btn:disabled {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(231, 231, 231);
  color: rgb(186, 186, 186);
}
.timer-style-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.flex-row {
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
  gap: 10px !important;
}

.settings-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}