.container {
  margin: 0;
  min-width: 270px;
  background: #000;
  color: var(--secondary-color-1);
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.light {
  background: var(--secondary-color-1);
  color: #000;
}
.container::after{
  content: '';
  position: absolute;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 10%;
  left: -20%;
  filter: blur(200px);
  z-index: -1;
}
#settings-form{
  padding: 10px 20px;
  border: 5px solid var(--secondary-color-1);
  width: max-content;
  border-radius: 10px;
  font-size: 16px;
}
#settings-form h2 {
  font-size: 20px;
}
#settings-form select, #settings-form input {
  font-size: 16px;
}
.container.light input, .container.light select {
  background-color: var(--secondary-color-1);
  border: 1px solid black;
}
.container.light #settings-form {
  border: 5px solid black;
}
.notification {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
}


.duration {
  white-space: nowrap;
  margin-bottom: 10px;
}

#focus-duration-input,
#short-break-duration-input,
#long-break-duration-input {
  width: 40px;
}

#interval-input {
  margin-block: 5px 10px;
  margin-left: 20px;
}

.submit-btn {
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color-2);
  border:none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: .15s all;
  padding: 10px;
}
.submit-btn:hover {
  opacity: .9;
}
.submit-btn.saved {
  background-color: var(--primary-color);
  color: #000;
}
.submit-btn:disabled {
  box-shadow: inset 0 0 0px transparent;
  background-color: rgb(32, 32, 32);
  color: rgb(68, 68, 68);
}
.submit-btn:disabled:hover {
  border-radius: 5px;
  cursor: not-allowed;
}
.container.light .submit-btn {
  background-color: var(--secondary-color-1);
  border: 1px solid black;
}
.container.light .submit-btn:disabled {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(231, 231, 231);
  color: rgb(186, 186, 186);
}


.settings-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
