html{
  margin: 0;
  padding: 0;
}
*,*::after,*::before{
  box-sizing:border-box;
}
body{
  margin:0;
  padding: 0;
  height: max-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --primary-color: rgb(97, 47, 121);
  --secondary-color-1: rgb(232, 227, 255);
  --secondary-color-2: rgb(197, 184, 255); 
  font-size: 12px;
}
.container {
  margin: 0;
  padding: 10px 20px;
  background-color: white;
  color: var(--primary-color);
}

.title {
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
  border: 2px solid var(--secondary-color-1);
  margin-top: 0;
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary-color-1);

}

.status-tag {
  user-select: none;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  transform: translate(-50%, 0);
  width: 90%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 50px;
  border-radius: 20px;
  background-color: rgb(99, 186, 109);
  color: rgb(0, 14, 10);
  border: 2px solid black;
  transition: .5s all;
}
.status-tag.active {
  top: 20px;
  opacity: 1;
}

h1 {
  text-align: center;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
}

h2 {
  margin:0;
  margin-block: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  font-size: 16px;
}

p {
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

input, select {
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input:hover, select:hover {
  background-color: var(--secondary-color-1);
}

.tab-btn-container {
  width: 100%;
  display: flex;
  gap: 5px;
}
.tab-btn {
  text-align: center;
  user-select: none;
  padding: 2px 5px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  transition: .15s all;
}
.tab-btn.active {
  background-color: var(--secondary-color-2);
  color: #000;
  box-shadow: 0 0px 2px var(--primary-color);
}
.tab-btn:hover:not(.active) {
  background-color: var(--secondary-color-1);
  box-shadow: 0 0 2px var(--primary-color);
}

.tab:not(.active) {
  display: none;
}

.focus-text {
  padding-block: 5px;
  text-align: center;
}

.focus-btn, .focus-btns-int button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  border: none;
  cursor: pointer;
  pointer-events: all;
  transition: .5s all;
}
.focus-btn.active {
  pointer-events: none;
}
.focus-btn:hover, .focus-btns-int button:hover {
  box-shadow: 0 0 5px var(--secondary-color-2);
}
.focus-btn.active:hover {
  box-shadow: 0 0 0 transparent;
}
.focus-btns-int button {
  background: rgb(177, 177, 177);
  opacity: .1;
  pointer-events: none;
  transition: .5s all;
}
.focus-btns-int button.active {
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  opacity: 1;
  pointer-events: all;
}
.focus-btns-int button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}
.focus-btns-int button img {
  display: block;
  width: 24px;
  height:24px;
}

.focus-btns-int {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.focus-btn-pause .play {
  display: none;
}
.focus-btn-pause.pause .play {
  display: block;
}
.focus-btn-pause.pause .pause {
  display: none;
}

.notification {
  white-space: nowrap;
  width: 100%;
  display: block;
  /* margin-left: 20px; */
}

.time-container{
  padding-block: 5px;
  display: flex;
  justify-content: space-between;
}

.timer {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 30px;
}

.run {
  padding-inline: 10px;
  display: inline-block;
  text-align: center;
  color: black;
  border-radius: 2px;
  background-color: antiquewhite;
  cursor: pointer;
}

.duration {
  white-space: nowrap;
}

#focus-duration-input,
#short-break-duration-input,
#long-break-duration-input {
  width: 40px;
}

#interval-input {
  margin-block: 5px 10px;
  margin-left: 20px;
}

.submit-btn {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color-1);
  border: 1px solid var(--primary-color);
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color);
  cursor: pointer;
  transition: .15s all;
  padding: 10px;
}
.submit-btn:hover {
  border-radius: 30px;
}
.submit-btn.saved {
  background-color: rgb(212, 255, 212);
}
.submit-btn:disabled {
  background-color: rgb(177, 177, 177);
  color: rgb(42, 42, 42);
  border: 1px solid rgb(177, 177, 177);
}
.submit-btn:disabled:hover {
  border-radius: 5px;
  cursor: not-allowed;
}