.container {
  margin: 0;
  min-width: 270px;
  padding: 10px 20px;
  padding-top: 30px;
  background-color: #000;
  color: var(--secondary-color-1);
  position: relative;
  z-index: 1;
}
.container.light {
  background: var(--secondary-color-1);
  color: #000;
}
.container::after{
  content: '';
  position:absolute;
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 30%;
  left: -20%;
  filter: blur(100px);
  z-index: -1;
}


.title {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  color: var(--secondary-color-2);
  padding: 5px 15px;
  border: none;
}
p.until-long {
  margin-top: 15px;
}
.tab-btn-container {
  width: 100%;
  display: flex;
  gap: 5px;
}
.focus-title {
  padding-bottom: 14px;
}

.timer-style, .theme-label{
  display: flex;
  align-items: center;
}

.timer-tag{
  cursor: pointer;
  transition: .25s all;
  font-family: "Poppins", sans-serif;
  transform: scale(1);
  border: 2px solid transparent;
}
.timer-tag:hover, .timer-tag:focus-visible{
  transform: scale(1.05);
  border: 2px solid white;
}
.light .timer-tag:hover, .light .timer-tag:focus-visible{
  border: 2px solid black;
}
.timer-tag.simple:hover, .timer-tag.simple:focus-visible {
  box-shadow:inset -7px 7px 5px var(--secondary-color-2),inset 5px -5px 10px var(--primary-color), 0 0 10px var(--primary-color);
}

.tasks-select-container {
  margin-top: -5px;
}