.container {
  margin: 0;
  min-width: 270px;
  padding: 10px 20px;
  padding-top: 30px;
  background-color: #000;
  color: var(--secondary-color-1);
  position: relative;
  z-index: 1;
}
.container.light {
  background: var(--secondary-color-1);
  color: #000;
}
.container::after{
  content: '';
  position:absolute;
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 30%;
  left: -20%;
  filter: blur(100px);
  z-index: -1;
}


.title {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 100;
  margin-top: 0;
  color: var(--secondary-color-2);
  padding: 5px 15px;
  border: none;
}
p.until-long {
  margin-top: 15px;
}
.tab-btn-container {
  width: 100%;
  display: flex;
  gap: 5px;
}
.heading-container{
  position: relative;
}
.focus-title {
  padding-bottom: 14px;
}
.tooltip {
  font-weight: bolder;
  font-size: 6px;
  position: absolute;
  top: -70%;
  left: 70%;
  padding: 2px 5px;
  background-color: var(--secondary-color-1);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border: 1px solid var(--primary-color);
  pointer-events: none;
  opacity: 0;
  z-index: 10;
  transition: .25s all;
  transform: translate(-50%, 50%) scale(0);
}
.tab-btns {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  display: flex;
  border-radius: 10px;
  border: 1px solid transparent;
  /* overflow: hidden; */
}
.container.light .tab-btns{
  border: 1px solid var(--primary-color);
}
.tab-btns > a, .tab-btns > button {
  position: relative;
}
.tab-btns > a:hover .tooltip, .tab-btns > button:hover .tooltip {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}
.tab-btn {
  text-align: center;
  user-select: none;
  padding: 2px 5px;
  width: 100%;
  border: none;
  cursor: pointer;
  color: var(--secondary-color-1);
  font-family: "Poppins", sans-serif;
  background-color: var(--secondary-color-2);
}
.container.light .tab-btn {
  color: #000;
}

.tab:not(.active) {
  display: none;
}

.timer-style, .theme-label{
  display: flex;
  align-items: center;
}

.timer-tag{
  cursor: pointer;
  transition: .25s all;
  font-family: "Poppins", sans-serif;
  transform: scale(1);
  border: 2px solid transparent;
}
.timer-tag:hover, .timer-tag:focus-visible{
  transform: scale(1.05);
  border: 2px solid white;
}
.light .timer-tag:hover, .light .timer-tag:focus-visible{
  border: 2px solid black;
}
.timer-tag.simple:hover, .timer-tag.simple:focus-visible {
  box-shadow:inset -7px 7px 5px var(--secondary-color-2),inset 5px -5px 10px var(--primary-color), 0 0 10px var(--primary-color);
}

.tab-btn{
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-btn img {
  width: 16px;
  height: 16px;
}
.settings-tab-btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.rate-tab-btn {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.settings-tab-btn:hover img {
  animation: 1s rotate forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.history-tab-btn img {
  width: 13px;
  height: 13px;
}
.history-tab-btn:hover img {
  animation: 1s lilShake forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}
.support-tab-btn:hover img {
  animation: 2s shake forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.rate-tab-btn:hover img {
  animation: .7s twinkle forwards cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  80%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  80%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes lilShake {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(15deg) scale(1.1);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes twinkle {
  0%{
    transform: skew(0) rotate(0);
  }
  20%{
    transform: skew(10deg) rotate(10deg);
  }
  40%{
    transform: skew(-10deg) rotate(-10deg);
  }
  60%{
    transform: skew(10deg) rotate(10deg);
  }
  80% {
    transform: skew(-10deg) rotate(-10deg);
  }
  100%{
    transform: skew(0) rotate(0);
  }
}