.container {
  margin: 0;
  min-width: 270px;
  padding: 10px 20px;
  padding-top: 30px;
  background-color: #000;
  color: var(--secondary-color-1);
  position: relative;
  z-index: 1;
}
.container.light {
  background: var(--secondary-color-1);
  color: #000;
}
.container::after{
  content: '';
  position:absolute;
  width: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-color);
  top: 30%;
  left: -20%;
  filter: blur(100px);
  z-index: -1;
}


.title {
  position: absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 100;
  margin-top: 0;
  color: var(--secondary-color-2);
  padding: 5px 15px;
  border: none;
}
.container.light .title {
  color: #000;
}
.container.light h2 {
  color: #000;
}

.tab-btn-container {
  width: 100%;
  display: flex;
  gap: 5px;
}
.tab-btn {
  text-align: center;
  user-select: none;
  padding: 2px 5px;
  width: 100%;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-color-1);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container.light .tab-btn {
  color: #000;
}
.tab-btn.active {
  border-bottom: 2px solid var(--secondary-color-2);
}
.container.light .tab-btn.active {
  border-bottom: 2px solid var(--primary-color);
}
.tab-btn:hover:not(.active) {
  border-bottom: 2px solid #323232;
}
.container.light .tab-btn:hover:not(.active) {
  border-bottom: 2px solid var(--secondary-color-2);
}

.tab:not(.active) {
  display: none;
}

.notification {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
}


.duration {
  white-space: nowrap;
}

#focus-duration-input,
#short-break-duration-input,
#long-break-duration-input {
  width: 40px;
}

#interval-input {
  margin-block: 5px 10px;
  margin-left: 20px;
}

.submit-btn {
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: var(--secondary-color-2);
  border:none;
  font-size: 15px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: .15s all;
  padding: 10px;
}
.submit-btn:hover {
  opacity: .9;
}
.submit-btn.saved {
  background-color: var(--primary-color);
  color: #000;
}
.submit-btn:disabled {
  box-shadow: inset 0 0 0px transparent;
  background-color: rgb(32, 32, 32);
  color: rgb(68, 68, 68);
}
.submit-btn:disabled:hover {
  border-radius: 5px;
  cursor: not-allowed;
}
.container.light .submit-btn {
  background-color: var(--secondary-color-1);
  border: 1px solid black;
}
.container.light .submit-btn:disabled {
  border: 1px solid rgb(171, 171, 171);
  background-color: rgb(231, 231, 231);
  color: rgb(186, 186, 186);
}
.timer-style, .theme-label{
  display: flex;
  align-items: center;
}

.timer-tag{
  cursor: pointer;
  transition: .25s all;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: scale(1);
  border: 2px solid transparent;
}
.timer-tag:hover, .timer-tag:focus-visible{
  transform: scale(1.05);
  border: 2px solid white;
}
.light .timer-tag:hover, .light .timer-tag:focus-visible{
  border: 2px solid black;
}
.timer-tag.simple:hover, .timer-tag.simple:focus-visible {
  box-shadow:inset -7px 7px 5px var(--secondary-color-2),inset 5px -5px 10px var(--primary-color), 0 0 10px var(--primary-color);
}

.settings-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.sound-select {
  font-size: 12px;
}