body{
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body.light {
  background: radial-gradient(var(--secondary-color-1), var(--secondary-color-2));
}
.container {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 50px;
  color: var(--secondary-color-1);
  border-radius: 2em;
  position: relative;
  overflow: hidden;
}

body.light .focus-title, body.light .until-long {
  color: black;
}

.focus-title {
  font-size: 50px;
  margin-block: .2em;
}

.timer-tag {
  width: 80vh;
  aspect-ratio: 2/1;
  border-radius: 1em;
  background-size: 17% 34%;
  border: 3px solid black;
  box-shadow:inset 0 0 5px black;
}
body.light .timer-tag.simple {
  border: 1px solid black;
  background: linear-gradient(45deg, var(--secondary-color-2), var(--secondary-color-2), var(--primary-color));
  box-shadow: inset -5px 5px 70px var(--secondary-color-2), inset 5px -5px 70px var(--primary-color), 2px 2px 0 5px black; 
}
.timer-tag.simple{
  border: none;
  box-shadow: 0 0 20px var(--primary-color);
}
.timer-tag.cat-walk .timer{
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  border: 1px solid black;
  backdrop-filter: blur(5px);
}
.timer{
  position: relative;
  font-weight: bolder;
  font-family: "Share Tech Mono", monospace;
  font-size: 100px;
  font-variant-numeric: tabular-nums;
}

.tab-btns {
  bottom: 0px;
  button, a {
    

    & img {
      width: 20px;
      height: 20px;
    }
  }
}

.changingTimer:has(.simple) {
  animation: none;
}

.bottom {
  display: flex;
  width: 80vh;
}
.btns-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.focus-btn-text{
  white-space: nowrap;
}
.quote-container {
  width: 90%;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(var(--secondary-color-2), var(--primary-color));
  box-shadow: inset 5px 5px 30px var(--primary-color);
}
.light .quote-container{
  box-shadow: 2px 2px 0 5px black;
  background: radial-gradient(var(--secondary-color-1), var(--secondary-color-2));
}
.quote {
  color: black;
}

.focus-btn, .focus-btns-int button {
  background: linear-gradient(45deg, var(--primary-color), var(--secondary-color-2));
  box-shadow:inset -3px 3px 10px var(--primary-color),inset 5px -5px 20px var(--primary-color);
}

.break-suggestions-container {
  display: none;
  position: absolute;
  right: -100%;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  transition: .15s all;
}
.break-suggestions-container.show {
  display: block;
  right: 10px;
}
.break-suggestion h2 {
  font-size: 13px;
}
.break-suggestion p {
  font-size: 10px;
  padding-left: 20px;
  position: relative;
}
.light .break-suggestion p {
  color: black;
}
.break-suggestion p:after {
  position: absolute;
  content: '';
  left:0;
  top:0;
  width: 10px;
  height: 100%;
  background-color: var(--secondary-color-2);
  opacity: .15;
  border-radius: 5px;
}
.light .break-suggestion p:after {
  background-color: var(--primary-color-4);
  opacity: .3;
}
.break-suggestion p a {
  color: var(--secondary-color-2);
  font-weight: 700;
}
.light .break-suggestion p a {
  color: var(--primary-color);
}
.break-suggestion p a:hover {
  color: white;
}
.light .break-suggestion p a:hover {
  color: var(--primary-color-4);
  text-decoration: dotted;
}
#music-player {
  width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 0 2px var(--secondary-color-2);
  border: 2px solid var(--secondary-color-2);
  background-color: var(--secondary-color-2);
}
#music-player.show {
  display: flex;
}
.light #music-player {
  box-shadow: 2px 2px 0 2px #000;
  border: 2px solid #000;
}

#music-player:before {
  content: 'Now Playing...';
  font-size: 7px;
  margin-bottom: 5px;
  position: absolute;
  top:5px;
  left:50%;
  transform: translateX(-50%);
  color: var(--primary-color);
}
#music-player .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: .5em;
}

#player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

#music-player button {
  height: 50px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  border: none;
  font-size: .8em;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  padding: 2px 7px;
  font-family: "Poppins", sans-serif;
  transition: .25s all;
  border: 1px solid #000;
  box-shadow: 2px 2px 0 1px #000;
  &:active {
    box-shadow: 0 0 0 1px #000;
    transform: translate(2px, 2px);
  }
}
.light #music-player button {
  background: none;
}

#music-player button#prev, #music-player button#next {
  width: 36px;
  height: 36px;
}
#music-player button#prev img {
  transform: rotate(180deg);
}
#music-player button img{
  width: 100%;
  height: 100%;
}
#music-player button#play-pause.play {
  background: url('../../public/icons/play.png'), #c8a0ff;
  background-size: cover;
  width: 36px;
  height: 36px;
}
#music-player button#play-pause.pause {
  background: url('../../public/icons/pause.png'), #b27fff;
  background-size: cover;
  width: 36px;
  height: 36px;
}

#music-player button:hover {
  opacity: .7;
}
#music-player select {
  height: 36px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  color: var(--primary-color);
  font-size: .8em;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  padding: 2px 3px;
  font-family: "Poppins", sans-serif;
  background: black;
  color: var(--secondary-color-1);
}
#music-player label {
  color: var(--primary-color);
  font-size: .8em;
}
#music-player p {
  font-size: 10px;
  margin-bottom: 0;
  text-align: center;
  color: black;
}
.volume-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  & label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & img {
    width: 14px;
    height: 14px;
  }
  margin-top: 7px;
  & input {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 3px;
    outline: none;
    transition: background 0.3s ease;
    cursor: pointer;
    margin: 0 8px;
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--secondary-color-1);
      border: 2px solid var(--primary-color-2);
      box-shadow: 0 0 4px var(--primary-color-2);
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s ease;
    }

    &::-webkit-slider-thumb:hover {
      transform: scale(1.2);
    }

    &::-moz-range-thumb {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: var(--secondary-color-1);
      border: 2px solid var(--primary-color-2);
      box-shadow: 0 0 4px var(--primary-color-2);
      cursor: pointer;
    }
  }
}
.timer-edit {
  top:0;
  right:0;
  border: none;
  & img {
    height: 16px;
    width: 16px;
  }
  &::after{
    content: none;
  }
  &:hover {
    border: none;
    box-shadow: none;
  }
}

.timer-tag.cat-walk .timer-edit {
  backdrop-filter: blur(5px);
  top: 0;
  border-radius: 10px;
  border: 1px solid black;
}

.mode {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: -5px;
  font-size: .8em;
  color: var(--secondary-color-2); 
  border-radius: 10px;
  padding: 0px 5px;
  pointer-events: none;
  background: var(--primary-color);
  &.cat-walk {
    background-color: transparent;
    backdrop-filter: blur(15px);
    font-weight: 700;
    color: black;
  }
}

#to-do-list-container {
  width: 230px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: linear-gradient(45deg, var(--secondary-color-1), var(--secondary-color-2));
  box-shadow: inset 0 0 10px 0 var(--secondary-color-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  z-index: 10;
  border-radius: 5px;
  border: 1px solid #000;
  overflow: hidden;

  display: none;
  &.show {
    display: inline-block;
  }

  & h2 {
    color: #000;
    border-bottom: none;
    padding-bottom: 0px;
    box-shadow: inset 0 0 5px 0 var(--secondary-color-2), 0 0 5px 0 var(--secondary-color-1); 
    padding: 10px;
    border-radius: 5px;
  }

  & ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin:0;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--secondary-color-2);
    }
    &::-webkit-scrollbar-thumb:hover {
      background: var(--primary-color);
    }
    &::-webkit-scrollbar-track {
      background: var(--secondary-color-1);
    }

    & li {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      padding-right: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 5px;
      word-break: break-word;
      & label {
        width: 100%;
        display: inline-block;
      }
      & input[type="checkbox"] {
        width: 15px;
        height: 15px;
      }
      & input[type="checkbox"]:checked + label {
        text-decoration: line-through;
        color: #000;
      }

      &:hover{
        background-color: var(--secondary-color-1);
        & .dlt-btn {
          pointer-events: all;
          opacity: 1;
        }
      }
      & .dlt-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: none;
        background-color: unset;
        cursor: pointer;
        pointer-events: none;
        opacity: 0;
      }


      & .dlt-btn::after, & .dlt-btn::before {
        content: '';
        position: absolute;
        width: 80%;
        height: 3px;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%) rotate(45deg);
        z-index: 10;
        background-color: var(--primary-color);
        border-radius: 3px;
      }
      & .dlt-btn::after{
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  & .punches {
    position: absolute;
    top:-8px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    white-space: nowrap;

    & .punch {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #000;
      margin-left: 5px;
      border-radius: 30%;
    }
  }
}

.light #to-do-list-container .punch {
  /* background-color: var(--secondary-color-2); */
  border: 1px solid #000;
}

#to-do-list-container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

#to-do-list-container .add-btn {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color-2);
  border-radius: 5px;
  cursor: pointer;
  transition: .25s all;
  box-shadow:inset 0 0 20px  var(--primary-color), 0 0 40px  var(--primary-color);

  &:hover {
    border-color: none;
    border-radius: 30%;
    &::before, &::after {
      width: 80%;
    }
  }
  &:active {
    box-shadow:inset 0 0 20px  var(--primary-color), 0 0 20px  var(--primary-color);
    transform: scale(.9);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    left:50%;
    top:50%;
    width: 70%;
    height: 7px;
    background-color: var(--secondary-color-1);
    transform: translate(-50%, -50%);
    border-radius: 2px;
    transition: .25s all;
    border: 1px solid var(--secondary-color-2);
  }
  &::after {
    transform: translate(-48%, -50%) rotate(90deg);
  }
}